body {
  margin: 0;
  font-family: "roboto", sans-serif;
}
body p {
  font-weight: 300;
  font-size: 19px;
}
body h1,
body h2,
body h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 30px 15px 0px 15px;
}
body h3 {
  font-size: 18px;
}
body span {
  font-weight: 500;
  font-size: 16px;
}
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body a,
body li {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
body footer {
  background: #353535;
  padding: 15px;
}
body footer li {
  margin: 5px 0px 5px 0px;
}
body footer a {
  color: white;
}

.loader {
  width: 100vw;
  height: 100vh;
  background: #F6F6F6;
  position: absolute;
  position: fixed;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  animation: visibility 3s linear;
  visibility: hidden;
}
.loader .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  transform: scale(1.3);
}
.loader .container__logo {
  position: absolute;
}
.loader .container__fork {
  animation: loader-fork 1.8s ease-in-out infinite;
}
.loader .container__knif, .loader .container__spoon {
  animation: loader-knif-spoon 1.8s ease-in-out infinite;
}
.loader__marque {
  opacity: 0.1;
}

@keyframes loader-fork {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-knif-spoon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes visibility {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.headertop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headertop__shadow {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  z-index: 100;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.headertop__shadow--logo-mark {
  width: 163px;
}
.headertop__localisation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.headertop__localisation--city {
  font-weight: 500;
}

.headerReserver {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.headerReserver .btn {
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  color: white;
  background: linear-gradient(2deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.headerReserver .btn::after {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  position: absolute;
  z-index: -1;
  content: "";
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: ease-in-out 200ms;
}
.headerReserver .btn:hover::after {
  opacity: 1;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}
.fonctionnement__flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fonctionnement__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  margin: 0px 20px 0px 25px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 5px;
}
.fonctionnement__card--number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  border-radius: 100px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 15px;
}
.fonctionnement__card--logo-text {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-left: 10px;
}
.fonctionnement__card--logo-text img {
  height: 22px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 60px;
  gap: 15px;
}
.restaurant p {
  font-size: 17px;
}
.restaurant__grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  border-radius: 15px;
  margin: 0px 15px 0px 15px;
}
.restaurant__card--nouveau {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  height: 29px;
  width: 80px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-top: 15px;
  margin-right: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.restaurant__card--contain {
  height: 251px;
  width: 100%;
  border-radius: 15px;
}
.restaurant__card--contain-image {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__card--contain .card__info {
  display: flex;
  justify-content: space-between;
  margin: 10px 25px 15px 10px;
  align-items: center;
}
.restaurant__card--contain .card__info--heart-default, .restaurant__card--contain .card__info--heart-active {
  height: 22px;
  width: 21px;
}
.restaurant__card--contain .card__info--heart-active {
  position: absolute;
  opacity: 0;
  transition: ease-in 150ms;
}
.restaurant__card--contain .card__info--heart-active:hover {
  opacity: 1;
}
.restaurant__card--contain .card__info--text {
  display: flex;
  flex-direction: column;
}
.restaurant__card--contain .card__info--text h3,
.restaurant__card--contain .card__info--text p {
  margin: 0;
}

.blockfooter {
  display: flex;
  flex-direction: column;
}
.blockfooter__flex-1, .blockfooter__flex-2 {
  display: flex;
  flex-direction: column;
}
.blockfooter__logo {
  width: 138px;
  margin-bottom: 15px;
}
.blockfooter__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.blockfooter__content--img {
  height: 13px;
  width: 11px;
}

@media (min-width: 768px) {
  .headertop__shadow,
  .headertop__localisation {
    box-shadow: none;
  }
  .fonctionnement {
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .fonctionnement__flex {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 15px;
  }
  .fonctionnement__card {
    width: 31%;
    margin: 0;
  }
  .restaurant__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .blockfooter {
    flex-direction: row-reverse;
    gap: 32px;
    height: 114px;
  }
  .blockfooter__flex-1, .blockfooter__flex-2 {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .blockfooter .blockfooter__logo {
    margin: 0px;
  }
  body ul {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1280px) {
  .fonctionnement {
    max-width: 1280px;
    margin: auto;
  }
  .fonctionnement h2 {
    margin-left: 0;
  }
  .fonctionnement__flex {
    margin: 0;
  }
  .restaurant h2 {
    width: 1280px;
    margin: auto;
    padding-top: 30px;
  }
  .restaurant__grid {
    width: 1280px;
    margin: auto;
  }
  .restaurant__card {
    margin: 0;
  }
}/*# sourceMappingURL=home-style.css.map */